<div class="home__container">
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="Digital"
    gameType="FPS"
    gamePrice="R$ 199.90"
  ></app-card>
  <app-card
  gameCover="assets/bt-1.jpg"
  gameLabel="Digital PS4"
  gameType="FPS"
  gamePrice="R$ 179.90"
></app-card>
<app-card
gameCover="assets/bt-4.jpg"
gameLabel="Digital PS4"
gameType="FPS"
gamePrice="R$ 179.90"
></app-card>
<app-card
gameCover="assets/bt-5.jpg"
gameLabel="Digital PS4"
gameType="FPS"
gamePrice="R$ 179.90"
></app-card>
<app-card
gameCover="assets/bt-bad-company-2.jpg"
gameLabel="Digital PS4"
gameType="FPS"
gamePrice="R$ 179.90"
></app-card>
<app-card
gameCover="assets/bt-hardline.jpg"
gameLabel="Digital PS4"
gameType="FPS"
gamePrice="R$ 179.90"
></app-card>
<app-card
gameCover="assets/bt-hardline.jpg"
gameLabel="Digital PS4"
gameType="FPS"
gamePrice="R$ 179.90"
></app-card>
<app-card
gameCover="assets/bt-hardline.jpg"
gameLabel="Digital PS4"
gameType="FPS"
gamePrice="R$ 179.90"
></app-card>
</div>




